* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-info {
  display: flex;
  justify-content: flex-end;
  background-color:  rgb(102, 0, 197);
  padding: 10px 36px;
}

.header-pages {
  display: flex;
  justify-content: space-between;
  background-color: rgb(102, 0, 197);
  padding: 10px 36px;
}

.link {
  color: white;
  font-family: "Fredoka One";
  text-decoration: none;
  font-size: 20px;
}

.kudo-to-you {
  width: 26%;
  height: 26%;
  margin: 2% 0 4% 0;
}

.img-kudo-pages {
  width: 16%;
  height: 16%;
  margin: 16px 0 20px 0;
}

.flex-container-center {
  display: flex;
  justify-content: center;
}

.flex-container-home-page {
  display: flex;
  justify-content: space-around;
}

.button {
  padding: 20px;
  font-family: "Fredoka One", cursive;
  font-size: 28px;
  border: 3px solid #f35d06;
  border-radius: 10px;
  background-color: #c7c7c7f1;
  width: 270px;
  text-align: center;
  outline: none;
}

.button:hover {
  background-color: #f8a87a;
}

.link-button {
  color: black;
  font-family: "Fredoka One";
  text-decoration: none;
}

.text {
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 18px;
  margin: 50px 0;
}

.instructions {
  text-align: center;
  padding-top: 0;
  margin: 2% 0;
  font-size: 15px;
  font-family: "Special Elite", cursive;
}

.note-about {
  font-family: "Fredoka One";
  color: black;
  margin: 10px;
  padding: 4px;
}

.flex-text-about {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70%;
  margin: 0 0 30px 0;
  
}

.center-input {
  text-align: center;
  font-size: 13px;
  height: 60px;
}

.flex-container-space {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-text-area {
  display: flex;
  flex-direction: column;
  margin: 0 0 4% 0;
}

.text-area {
  border: 1px solid #3f3f3f;
  border-radius: 12px;
  padding: 4px;
  margin: 4px 0;
}

.result {
  background-color: rgb(201, 201, 201);
}

label {
  font-family: "Fredoka One", cursive;
}

body {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(130, 111, 255, 0.842)),
      to(rgba(137, 43, 226, 0.836))
    )
    fixed;
}
